.main {
    color: var(--mat-sys-on-surface-container);
    background: var(--mat-sys-surface-container);
    .main-container {
        padding: var(--rms-section-y-padding) var(--rms-section-x-padding);
    }
} 