:host ::ng-deep .p-step-active .p-step-title{
    color: #77a6f1;
}

:host ::ng-deep .p-step-active .p-step-number{
    color: #77a6f1;
}

:host ::ng-deep .p-button{
    background: #307EF7;
    border: none !important;
}

:host ::ng-deep  .p-button:not(:disabled):hover {
    background: #3e69ae !important;
}

:host ::ng-deep .p-autocomplete-input .p-component{
    border: none !important;
}

:host ::ng-deep  .p-autocomplete-option-selected.p-focus {
    background:  #77a6f1 !important;
    color: white;
}

:host ::ng-deep .p-button-text{
    color:white !important;
}

:host ::ng-deep .p-button-text.p-button-secondary{
    background: #77a6f1;
}

:host ::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted{
    color: black;
}

:host ::ng-deep .p-inputtext:enabled:focus{
    border-color: black;
}

:host ::ng-deep .p-tab{
    gap: 2rem;
    color:  #307EF7 !important;
}

:host ::ng-deep .p-tablist-tab-list{
    display: flex;
    justify-content: space-around;
}

:host ::ng-deep .p-tablist-active-bar{
    background: #307EF7 !important ;
}

:host ::ng-deep .p-tab-active{
    border-color: #307EF7 !important;
}

:host ::ng-deep .p-autocomplete-option-selected {
    background-color: #307EF7 !important;
    color: white !important;
}

:host ::ng-deep .p-select:not(.p-disabled).p-focus{
  border-color: #307EF7 !important;
}

:host ::ng-deep .p-select-option.p-select-option-selected.p-focus{
  color: white;
   background: #307EF7 !important;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected{
  background: #307EF7 !important;
  color: #fff;
}

:host ::ng-deep .p-select-option.p-select-option-selected{
  background: #307EF7 !important;
  color:white
}