:host ::ng-deep .p-step-active .p-step-title{
    color: #77a6f1;
}

:host ::ng-deep .p-step-active .p-step-number{
    color: #77a6f1;
}

:host ::ng-deep .p-button{
    background: #307EF7;
    border: none !important;
}

:host ::ng-deep .p-stepitem .p-stepper-separator{
    background-color:  #77a6f1;
}

:host ::ng-deep  .p-button:not(:disabled):hover {
    background: #3e69ae !important;
}

:host ::ng-deep .p-autocomplete-input .p-component{
    border: none !important;
}

:host ::ng-deep  .p-autocomplete-option-selected.p-focus {
    background:  #77a6f1 !important;
    color: white;
}

:host ::ng-deep .p-button-text{
    color:white !important;
}

:host ::ng-deep .p-step:has(~ .p-step-active) .p-stepper-separator{
    background:  #3e69ae !important;
}

:host ::ng-deep .p-button-text.p-button-secondary{
    background: #77a6f1;
}

:host ::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted{
    color: black;
}

:host ::ng-deep .p-inputtext:enabled:focus{
    border-color: black;
}