<div class="w-screen p-6 block">
    <div class="flex">
        <input pInputText [(ngModel)]="searchTerm" type="text" placeholder="Search Requisitions" />
        <div class="ml-auto w-64">
            <div class="relative">
                <p-button styleClass="!bg-[#307EF7] cursor-pointer hover:!bg-[#0962EB] !border-[#307EF7] !text-white"
                    severity="contrast" label="Add New Request" icon="pi pi-plus" (click)="addRequisition()" />
            </div>
        </div>
    </div>

<p-tabs [(value)]="activeStep">

    <p-tablist>
        <p-tab class="tab" [value]="0"><i class="pi pi-list mr-2"></i> All Requisitions</p-tab>
        <p-tab [value]="1"><i class="pi pi-check-circle mr-2"></i> Approval</p-tab>
        <p-tab [value]="2"><i class="pi pi-calendar mr-2"></i> Planning</p-tab>
        <p-tab [value]="3"><i class="pi pi-truck mr-2"></i> Fulfillment</p-tab>
    </p-tablist>

    <p-tabpanels>
        <p-tabpanel [value]="0">
            <app-requisition-table [globalSearch]="searchTerm" [requisitions]="requisitions" [loading]="loading"
                [currentStage]="activeStep">
            </app-requisition-table>
        </p-tabpanel>

        <p-tabpanel [value]="1">
            <app-requisition-table [globalSearch]="searchTerm" [requisitions]="getByStage('Approval')"
                [loading]="loading" (move)="openMoveDialog($event)" [currentStage]="activeStep">
            </app-requisition-table>
        </p-tabpanel>

        <p-tabpanel [value]="2">
            <app-requisition-table [globalSearch]="searchTerm" [requisitions]="getByStage('Planning')"
                [loading]="loading" (move)="openMoveDialog($event)" [currentStage]="activeStep">
            </app-requisition-table>
        </p-tabpanel>

        <p-tabpanel [value]="3">
            <app-requisition-table [globalSearch]="searchTerm" [requisitions]="getByStage('Fulfillment')"
                [loading]="loading" (move)="openMoveDialog($event)" [currentStage]="activeStep">
            </app-requisition-table>
        </p-tabpanel>
    </p-tabpanels>
    </p-tabs>


</div>

@if(visible){
<p-dialog [header]="popupHeader" [modal]="true" [(visible)]="visible" [style]="{ width: '45%' }">
    <app-requisition-form (submitted)="handleFormSubmitted($event)" (cancel)="visible = false"></app-requisition-form>
</p-dialog>
}

<!-- MOVE STAGE DIALOG -->
@if(stageDialogVisible){
<p-dialog [header]="popupHeader" [modal]="true" [(visible)]="stageDialogVisible" [style]="{ width: '45%' }">
    <app-move-stage-dialog [requisition]="selectedRequisition" (updated)="handleStageUpdated($event)">
    </app-move-stage-dialog>
</p-dialog>
}