<div class="p-6">
  <div class="mb-2">
    <input pInputText [(ngModel)]="searchTerm" type="text" placeholder="Search Requisitions" />
  </div>
  <div class="flex justify-start gap-4 mb-2 w-[15%]">
    <p-selectbutton (onChange)="handleSelectionChange()" [options]="filterOptions" [(ngModel)]="value"
      optionLabel="name" optionValue="value" fluid>
      <ng-template #item let-item>
        <i [class]="item.icon"></i>
      </ng-template>
    </p-selectbutton>
  </div>
  <app-project-utilization-table [globalSearch]="searchTerm" [filterByUser]="filterByUser" [filterByProject]="filterByProject"
    [projectUtilizationData]="projectUtilizationData"></app-project-utilization-table>
</div>