@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import "primeicons/primeicons.css";

@plugin "@tailwindcss/typography";
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Tailwind variables come here */
}
