<header class="bg-[#fefefe] border-b border-black/6">
  <div class="w-full flex items-center justify-between gap-4 px-4 py-3">
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-3">
        <img class="h-11" src="godigitaltc_logo.png" alt="GDTC" />
        <div class="h-10 w-[0.05rem] bg-gray-500 mx-2" aria-hidden="true"></div>
        <div class="text-2xl font-normal">Resource Management System</div>
      </div>
    </div>
    <div class="flex items-center pr-4">
      <app-user-profile></app-user-profile>
    </div>
  </div>
</header>
 
<div class="w-full">
  <p-menubar [model]="items"></p-menubar>
</div>