<form [formGroup]="noteForm" (ngSubmit)="submit()" class="space-y-4">
    <!-- TEXTAREA WITH FLOAT LABEL -->
    <div class="w-full">
        <textarea placeholder="Write a note here..." formControlName="noteText" class="w-full p-2 border rounded"
            rows="3"></textarea>
    </div>

    <!-- ACTIONS -->
    <div class="flex gap-2 justify-end">
        <p-button
            styleClass="secondary hover:!bg-[#F2F4F7]"
            label="Cancel" (click)="cancel()"></p-button>
        <p-button
            styleClass="primary hover:!bg-[#0962EB]"
            label="Save" [disabled]="noteForm.invalid" (click)="submit()"></p-button>
    </div>
</form>