// Angular Material theme
@use "./theme/theme-colors" as rms-m3-theme;
@use 'sass:map' as map;
// Tailwind CSS
@use "./theme/tailwind.css";
// Custom styles
@use './theme/typography.scss' as m3-typography-hierarchy;

:root {
  --rms-header-height: 64px;
  --rms-bottom-margin: 8px;
  --rms-right-margin: 8px;
  --rms-section-x-padding: 16px;
  --rms-section-y-padding: 24px;
  --rms-http-event-loader-height: 4px;
}

html {
  color-scheme: light;

  /* Map Material-generated palette values to CSS variables used in the app */
  :root {
    --rms-primary: #{map.get(rms-m3-theme.$primary-palette, 50)};
    --rms-primary-variant: #{map.get(rms-m3-theme.$primary-palette, 40)};
    --rms-on-primary: #{map.get(rms-m3-theme.$primary-palette, 100)};
    --rms-tertiary: #{map.get(rms-m3-theme.$tertiary-palette, 50)};
    --rms-surface: #{map.get(rms-m3-theme.$primary-palette, 98)};
    --rms-on-surface: #{map.get(rms-m3-theme.$primary-palette, 10)};
  }

  // @include m3-typography-hierarchy.rms-typography-hierarchy;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;

  // mgt-toolkit
  --default-font-family: "IBM Plex Sans", sans-serif;
  --body-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --person-line1-font-weight: 500;
}

.primary{
  background-color: #307EF7 !important;
  color: #FFFFFF !important;
  border: 1px solid #307EF7 !important;
  cursor: pointer !important;
  border-radius: 0.2rem !important;
}

.secondary{
  cursor: pointer !important;
  border: 1px solid #307EF7 !important;
  color: #307EF7 !important;
  background-color: transparent !important;
  border-radius: 0.2rem !important;
}