<p-table #dt2 [value]="requisitions" dataKey="requisitionId" [rows]="10" [rowsPerPageOptions]="[10,25,50]"
    [loading]="loading" [expandedRowKeys]="expandedRows" [paginator]="true" [showGridlines]="false"
    sortField="ageingDays" [globalFilterFields]="globalFilterFields" [sortOrder]="-1" [tableStyle]="{ 'min-width': '10rem' }">

    <!-- Export -->
    <ng-template #caption>
        <div class="text-end pb-4">
            <p-button styleClass="secondary hover:!bg-[#F2F4F7]" icon="pi pi-external-link" label="Export" (click)="dt2.exportCSV()" />
        </div>
    </ng-template>

    <!-- HEADER -->
    <ng-template #header>
        <tr>
            <th></th>
            <th class="text-sm p-2!" *ngFor="let col of headers" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Action</th>
        </tr>

        <!-- FILTER ROW -->
         <tr>
            <th></th>
            @for (col of headers; track col) {
                <th>
                    <ng-container [ngSwitch]="col.filterType">
                        <!-- Text Filter -->
                         <p-columnFilter *ngSwitchCase="'text'" [field]="col.field" matchMode="contains" [showMenu]="false"
                         [showClearButton]="true" placeholder="Search {{ col.header }}">
                        </p-columnFilter>

                        <!-- Dropdown Filter -->
                         <p-columnFilter *ngSwitchCase="'dropdown'" [field]="col.field" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-multiSelect #ms [options]="col.options || []" optionLabel="label" optionValue="value" display="chip" placeholder="Filter {{ col.header }}"
                                (onChange)="filter($event.value); ms.hide()" appendTo="body">
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngSwitchCase="'date'" [field]="col.field" [type]="'date'" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-datePicker [readonlyInput]="true" dateFormat="yy-mm-dd" appendTo="body" placeholder="Select date" (onSelect)="filter($event)">

                            </p-datePicker>
                        </ng-template>
                    </p-columnFilter>
                    <span *ngSwitchDefault></span>
                </ng-container>
            </th>
        }
    </tr>
</ng-template>

    <!-- BODY -->
    <ng-template #body let-row let-expanded="expanded">
        <tr [ngClass]="{
        'bg-red-50': row.ageingDays && row.ageingDays > 30,
        'bg-yellow-50': row.urgency === 'Immediate' && row.ageingDays! <= 30
      }">

            <!-- DETAIL -->
            <td>
            </td>

            <!-- COLUMNS -->
            <td *ngFor="let col of headers">
                <ng-container [ngSwitch]="col.field">

                    <!-- Dates -->
                    <span *ngSwitchCase="'requisitionDate'">
                        {{ row.requisitionDate | date:'mediumDate' }}
                    </span>

                    <span *ngSwitchCase="'tentativeOnboardingDate'"
                        [ngClass]="onboardingClass(row.tentativeOnboardingDate)">
                        {{ row.tentativeOnboardingDate | date:'mediumDate' }}
                    </span>

                    <!-- Urgency -->
                    <p *ngSwitchCase="'urgency'" [ngClass]="urgencyClass(getFieldValue(row, col.field))">
                        {{getFieldValue(row, col.field)}}</p>

                    <!-- Ageing -->
                    <span *ngSwitchCase="'ageingDays'" [ngClass]="ageingClass(row.ageingDays)">
                        {{ row.ageingDays }} days
                        <i *ngIf="row.ageingDays! > 30" class="pi pi-exclamation-triangle ml-1"></i>
                    </span>

                    <span *ngSwitchCase="'projectName'" pTooltip="{{ row.projectName }}" tooltipPosition="top">
                        {{ row.projectName | slice:0:15 }}{{ row.projectName?.length! > 15 ? '…' : '' }}
                    </span>

                    <!-- Default -->
                    <span *ngSwitchDefault>
                        {{ getFieldValue(row, col.field) }}
                    </span>

                </ng-container>
            </td>
            <td class="flex flex-row gap-2">
                @if(currentStage !== 0){
                    <p-button (onClick)="moveToNextStage(row)" styleClass="bg-transparent! text-[#307EF7]! hover:bg-[#E6F0FF]!"
                        [text]="true" [rounded]="true">
                         <i  class="pi pi-arrow-circle-right" pTooltip="Move to Next Stage"></i></p-button>
                }
                <p-button (onClick)="openNotes(row)" styleClass="bg-transparent! text-[#307EF7]! hover:bg-[#E6F0FF]!"
                        [text]="true" [rounded]="true">
                         <i  class="pi pi-comment"></i></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template #emptymessage>
        <tr>
            <td colspan="10">No Requisitions found.</td>
        </tr>
    </ng-template>
</p-table>


@if (isNotesVisible) {
    <p-drawer [(visible)]="isNotesVisible" header="Notes" position="right" [style]="{ width: '400px' }" modal="true" closeOnEscape="true">
        <app-notes-drawer [notes]="notesMap.get(selectedRequisitionId || 0) || []" (isAddNoteVisible)="openAddNotes($event)"></app-notes-drawer>
    </p-drawer>
}



@if(isAddNoteVisible){
    <p-dialog position="top" [header]="'Add note'" [modal]="true" [(visible)]="isAddNoteVisible" [style]="{ width: '45%' }">
        <app-notes-dialog (addNote)="handleAddNote($event)"></app-notes-dialog>
    </p-dialog>
}