:host ::ng-deep .p-step-active .p-step-title{
    color: #77a6f1;
}

:host ::ng-deep .p-step-active .p-step-number{
    color: #77a6f1;
}

:host ::ng-deep .p-button{
    background: #77a6f1;
}

:host ::ng-deep .p-stepitem .p-stepper-separator{
    background-color:  #77a6f1;
}