<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="grid grid-cols-3 gap-4">

        <div>
            <label class="block text-sm">Client</label>
            <p-autocomplete formControlName="client" [suggestions]="clients"
                (completeMethod)="filterDropdown($event, 'clients')" [virtualScrollItemSize]="34" [dropdown]="true"
                class="w-full"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Client POC</label>
            <p-autoComplete formControlName="clientPoc" [suggestions]="clientsPoc" [virtualScrollItemSize]="34"
                (completeMethod)="filterDropdown($event, 'clientsPoc')" [dropdown]="true" [virtualScroll]="true"
                class="w-full"></p-autoComplete>
        </div>

        <div>
            <label class="block text-sm">Project</label>
            <p-autocomplete formControlName="project" [suggestions]="projects"
                (completeMethod)="filterDropdown($event, 'projects')" [virtualScrollItemSize]="34" [dropdown]="true"
                class="w-full"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Hiring POC</label>
            <p-autoComplete formControlName="hiringPoc" [suggestions]="users" [virtualScrollItemSize]="34"
                (completeMethod)="filterDropdown($event, 'users')" [dropdown]="true" [virtualScroll]="true"
                class="w-full"></p-autoComplete>
        </div>

        <div>
            <label class="block text-sm">Requisition Type</label>
            <p-autocomplete [suggestions]="requisitionTypes" formControlName="requisitionType" [dropdown]="true"
                class="w-full" [virtualScrollItemSize]="34"
                (completeMethod)="filterDropdown($event, 'requisitionTypes')"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Requisition Stage</label>
            <p-autocomplete [suggestions]="requisitionStages" formControlName="requisitionStage" [dropdown]="true"
                [virtualScroll]="true" [virtualScrollItemSize]="34" optionLabel="" class="w-full"
                (completeMethod)="filterDropdown($event, 'requisitionStages')"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Requisition Status</label>
            <p-autocomplete [suggestions]="requisitionStatus" formControlName="requisitionStatus" [dropdown]="true"
                [virtualScroll]="true" [virtualScrollItemSize]="34" optionLabel="" class="w-full"
                (completeMethod)="filterDropdown($event, 'requisitionStatus')"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Skills</label>
            <p-autocomplete [suggestions]="skills" formControlName="skills" [dropdown]="true" [virtualScroll]="true"
                [virtualScrollItemSize]="34" optionLabel="" class="w-full"
                (completeMethod)="filterDropdown($event, 'skill')"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">Fulfillment Medium</label>
            <p-autocomplete [suggestions]="fulfillmentMedium" formControlName="fulfillmentMedium" [dropdown]="true"
                [virtualScroll]="true" [virtualScrollItemSize]="34" optionLabel="" class="w-full"
                (completeMethod)="filterDropdown($event, 'fulfillmentMedium')"></p-autocomplete>
        </div>

        <div>
            <label class="block text-sm">FTE Head Count</label>
            <input type="number" formControlName="fteHeadCount" min="0" class="w-full p-2 border rounded" />
        </div>

        <div>
            <label class="block text-sm">FTE Total Allocation</label>
            <input type="number" formControlName="fteTotalAllocation" min="0" class="w-full p-2 border rounded" />
        </div>

        <div [hidden]="isAdd">
            <label class="block text-sm">Requisition Date</label>
            <input type="date" formControlName="requisitionDate" class="w-full p-2 border rounded" />
        </div>

        <div>
            <label class="block text-sm">Tentative Onboarding</label>
            <input type="date" formControlName="tentativeOnboardingDate" class="w-full p-2 border rounded" />
        </div>

        <div class="col-span-2">
            <label class="block text-sm">Notes</label>
            <textarea formControlName="notes" class="w-full p-2 border rounded" rows="3"></textarea>
        </div>
    </div>

    <div class="flex justify-end gap-2 pt-2">
        <p-button severity="secondary" label="Cancel" [outlined]="true" (click)="onCancel()" />
        <p-button severity="contrast" label="Submit Request" (click)="onSubmit()" [disabled]="form.invalid" />
    </div>
</form>