<p-table #dt [rowGroupMode]="filterByProject ? 'subheader' : undefined"
    [groupRowsBy]="filterByProject ? 'projectName' : null" [value]="projectUtilizationData" sortField="userName"
    dataKey="userId" [rows]="50" [rowsPerPageOptions]="[25,50,100]" [paginator]="true" [showGridlines]="false"
    [tableStyle]="{ 'min-width': '10rem' }" [columns]="headers" [globalFilterFields]="globalFilterFields">
    
    <ng-template pTemplate="caption">
        <div class="caption-wrapper">
        <div class="flex flex-row justify-end pb-4">
            <p-button styleClass="secondary hover:!bg-[#F2F4F7]" icon="pi pi-external-link" label="Export" (click)="dt.exportCSV()">
            </p-button>
            <p-button styleClass="secondary ml-2 hover:!bg-[#F2F4F7]" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)"></p-button>
        </div>
        </div>
    </ng-template>

    <!-- Header -->
    <ng-template #header>
        <tr>
            <th class="text-sm p-2!" *ngFor="let col of headers" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        
        <tr>
            @for (col of headers; track col) {
                <th>
                    <ng-container [ngSwitch]="col.filterType">
                        <!-- Text Filter -->
                         <p-columnFilter *ngSwitchCase="'text'" [field]="col.field" matchMode="contains" [showMenu]="false" [showClearButton]="true"
                         placeholder="Search {{ col.header }}">
                        </p-columnFilter>
                        
                        <!-- Dropdown Filter -->
                         <p-columnFilter *ngSwitchCase="'dropdown'" [field]="col.field" matchMode="in" [showMenu]="false">
                         <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-multiSelect #ms [options]="col.options || []" optionLabel="label" optionValue="value" display="chip" placeholder="Filter {{ col.header }}" 
                            (onChange)="filter($event.value); ms.hide()" appendTo="body">
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
                
                <!-- Date Filter -->
                 <p-columnFilter *ngSwitchCase="'date'" [field]="col.field" [type]="'date'" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-datePicker [showClear]="true" [readonlyInput]="true" dateFormat="yy-mm-dd" appendTo="body" selectionMode="range" placeholder="Select date range" (onSelect)="filter($event)">
                        </p-datePicker>
                    </ng-template>
                </p-columnFilter>
                
                <!-- Default: No Filter -->
                 <span *ngSwitchDefault></span>
                </ng-container>
            </th>
        }
    </tr>
    </ng-template>

    <!-- Project Grouping -->
    <ng-container *ngIf="filterByProject">
        <ng-template #groupheader let-projectUtilizationData let-expanded="expanded">
            <tr pRowGroupHeader>
                <td colspan="6">
                    <button type="button" pButton pRipple [pRowToggler]="projectUtilizationData" text rounded plain
                        class="mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                    <span class="font-bold">{{ projectUtilizationData.projectName }}</span>
                </td>
            </tr>
        </ng-template>

        <ng-template #groupfooter let-rows>
            <tr class="bg-gray-50 font-medium">
                <td colspan="5" class="text-right pr-3">
                    Total Project Utilization
                </td>
                <td class="text-left">
                    {{ getProjectTotal(rows) | number:'1.2-2' }}%
                </td>
            </tr>
        </ng-template>
    </ng-container>

    <!-- Body -->
    @if(!filterByProject){
    <ng-template #body let-row let-expanded="expanded">
        <tr>
            <!-- COLUMNS -->
            <td *ngFor="let col of headers">
                <ng-container [ngSwitch]="col.field">
                    <!-- Dates -->
                    <span *ngSwitchCase="'allocationEndDate'">
                        {{ row.allocationEndDate | date:'mediumDate' }}
                    </span>
                    <span *ngSwitchCase="'isPrimaryProject'">
                        {{ row.isPrimaryProject ? 'Yes' : 'No' }}
                    </span>
                    <!-- Default -->
                    <span *ngSwitchDefault>
                        {{ getFieldValue(row, col.field) }}
                    </span>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    }

    @if(filterByProject){
    <ng-template #expandedrow let-row let-expanded="expanded">
        <tr>
            <!-- COLUMNS -->
            <td *ngFor="let col of headers">
                <ng-container [ngSwitch]="col.field">
                    <!-- Dates -->
                    <span *ngSwitchCase="'allocationEndDate'">
                        {{ row.allocationEndDate | date:'mediumDate' }}
                    </span>
                    <span *ngSwitchCase="'isPrimaryProject'">
                        {{ row.isPrimaryProject ? 'Yes' : 'No' }}
                    </span>
                    <!-- Default -->
                    <span *ngSwitchDefault>
                        {{ getFieldValue(row, col.field) }}
                    </span>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    }

    <!-- No Data -->
    <ng-template #emptymessage>
        <tr>
            <td colspan="6">No Requisitions found.</td>
        </tr>
    </ng-template>
</p-table>