/* Table styles: remove inner column borders but keep outer border */
:host ::ng-deep .p-table {
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 4px;
  overflow: hidden;
}

/* remove internal cell borders */
:host ::ng-deep .p-table .p-datatable-thead > tr > th,
:host ::ng-deep .p-table .p-datatable-tbody > tr > td {
  border: none !important;
}

/* style header filters and alignment */
:host ::ng-deep .p-table .p-datatable-thead{
  width: 100%;
}

:host ::ng-deep table .p-icon{
  width: 0.75rem;
  height: 0.75rem;
}


:host ::ng-deep .p-datatable .p-datatable-wrapper {
  overflow-x: auto;
}

.caption-wrapper{
  margin-top: -4rem;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.caption-wrapper p-button{
  pointer-events: auto;
}